---
---
.sidebar {
  position: fixed;
  width: calc((100% - 850px)/2);
  left: 0; top: 0; bottom: 0;
  overflow-x: hidden;
  background: #343131;
}

.sidebar-title, .sidebar-heading, .sidebar-item {
  display: block;
  margin: 0;
  padding: 0 20px;
  line-height: 32px;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar-title {
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #b3b3b3;
  border-bottom: 1px solid #555;
}

.sidebar-title .glyphicon {
  vertical-align: sub;
  font-size: 24px;
  margin-right: 4px;
  margin-left: -28px;
  color: #555;
}

.sidebar-heading {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #555;
  margin-top: 10px;
}

.sidebar-item {
  color: #b3b3b3;
}

.sidebar-item:hover, .sidebar-item.active {
  text-decoration: none;
  color: #b3b3b3;
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 850px) {
  .sidebar {
    display: none;
  }
}
