<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <!-- Enable responsiveness on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Roboto+Slab">
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/layout.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/manni.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/sidebar.css">
  </head>
  <body>
    {% include sidebar.html %}
    <main class="page">
      <div class="container">
        <div class="page-header">
          <h1>{{ page.title }}</h1>
        </div>
        {{ content }}
      </div>
    </main>
  </body>
</html>
