<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Roboto+Slab">
    <link rel="stylesheet" href="/theme/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/layout.css">
  </head>
  <body>
    <main class="page">
      <div class="container">
        <div class="page-header">
          <h1>{{ page.title }}</h1>
        </div>
        {{ content }}
      </div>
    </main>
  </body>
</html>
